.container {
    min-height: 100%;
    width: 100%;
    background-color: rgba(186, 220, 89, 1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 8rem;
    margin-top: 8rem;
    border-radius: .15rem;
    background-color: white;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .5);
    transition: all .3s;
    position: relative;
    

    &__content {
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        &-blocks {
            height: 100%;
            width: 35.5rem;
            display: flex;
            align-items: center;
            padding: 0 .25rem;
            transition: all .3s;
        }
    }
}

.button {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    position: absolute;
    top: 2.75rem;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    outline: none;
    z-index: 2;
    &:before {
        content: "";
        height: .5rem;
        width: .5rem;
        border-radius: 50%;
        background-color: black;
        display: inline-block;
        position: absolute;
    }
    &__left {
        right: 19rem;
    }

    &__right {
        left: 19rem;
    }
}

.block {
    height: 6rem;
    border-radius: .15rem;
    margin: .25rem;
    &__small {
        width: 2rem;
        background-color: rgb(51, 51, 51);
    }

    &__medium {
        width: 4rem;
        background-color: rgb(222, 222, 222);
    }

    &__large {
        width: 8rem;
        background-color: rgb(157, 157, 157);
    }
}

.hidden {
    opacity: 0;
    cursor: auto;
}