<div class="container">
    <div class="card">
        <button class="button">
            <div class="button__inner"></div>
        </button>
        <div class="calendar">
            <div class="date">Mar 1</div>
            <div class="date">Mar 2</div>
            <div class="date">Mar 3</div>
            <div class="date">Mar 4</div>
            <div class="date">Mar 5</div>
            <div class="date date-current">Mar 6</div>
            <div class="date">Mar 7</div>
        </div>
        <button class="button">
            <div class="button__inner"></div>
        </button>
    </div>
</div>
