<div class="container">
    <div class="card">
        <button 
            (click)="changeWeek('back')"
            class="button">
            <div class="button__inner"></div>
        </button>
        <div class="calendar">
            <div
                [class.date-current]="date.isToday" 
                *ngFor="let date of currentWeekArr; let i = index" 
                class="date">{{ date.month }} {{ date.date }}</div>
        </div>
        <button 
            (click)="changeWeek('next')"
            class="button">
            <div class="button__inner"></div>
        </button>
    </div>
</div>
