.button {
    margin: 0;
    outline: none;
    border: 1px solid rgb(89, 149, 255);
    padding: 1rem .75rem;
    transition: all .3s;
    margin-right: -2px;
    background: white;
    cursor: pointer;

    &__text {
        text-transform: capitalize;
    }
    
   

    &__left-end {
        border-radius: .25rem 0 0 .25rem;
    }

    &__right-end {
        border-radius: 0 .25rem .25rem 0;
    }

    &:hover {
        background: rgb(233, 235, 251);
    }
    
    &__active {
        color: white;
        background: rgb(89, 149, 255);
        &:hover {
            background: rgb(89, 149, 255);
        }
    }
}