:host {
    position: absolute;
    top: 5rem;
}

.card {
    top: 6rem;
    top: 10rem;
    // top: 3rem;
    // bottom: 10rem;
    position: relative;
    background: rgb(51, 51, 51);
    color: white;
    font-size: .65rem;
    padding: .75rem .5rem;
    border-bottom-right-radius: .15rem;
    border-bottom-left-radius: .15rem;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .5);
    transition: all .3s;

    &__popout {
        top: 6rem;
    }
    &__hidden {
        visibility: hidden;
    }
}

.alert {
    background: rgb(238, 82, 83);
}

