:host {
    position: absolute;
    top: 5rem;
}

.card {
    top: 3.5rem;
    position: relative;
    background: rgb(51, 51, 51);
    color: white;
    font-size: .65rem;
    padding: .75rem .5rem;
    border-bottom-right-radius: .15rem;
    border-bottom-left-radius: .15rem;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .5);
    transition: top .3s;
    // visibility: hidden;

    &__popout {
        top: 6rem;
        visibility: visible;
    }

}

.alert {
    background: rgb(238, 82, 83);
}

@media screen and (max-width: 580px) {
    .card {
        top: 7.5rem;
        &__popout {
            top: 10rem;
        }
    }
}