.nav {
    background-color: #4B5868;
    height: 6rem;
    color: #F0F5FC;
    font-family: 'Montserrat', sans-serif;

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 70rem;
        margin: auto;
        height: 100%;
    }

    &__title {
        font-size: 1.25rem;
        min-width: 17.75rem;
        line-height: 1.25rem;
        font-weight: 500;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__icon {
        height: 2.5rem;
        display: flex;
        margin-right: 1rem;

        &-fill {
            fill: #F0F5FC;
        }

        &-search {
            fill: #F87F72;
            position: absolute;
            bottom: .5rem;
            left: 16.75rem;
            height: 2rem;
        }
    }
    
    &__link {
        padding: 1rem;
        color: #F0F5FC;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .3s;
        margin-left: -1rem;

        &:hover {
            color: #FBF9FF;
            background-color:  #494754;

            .nav__icon-fill {
                fill: #FBF9FF;
            }
            .span__underline {
                background-color:  #F87F72;
            }
        } 
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}



.span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-main {
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 800;
        display: block;
    }

    &-underline {
        background-color: #F87F72;
        display: block;
        height: .5rem;
        width: 11rem;
    }
}

.search {
    // width: 23.75rem;
    // margin-right: 5.75rem;
    // background-color: pink;
    position: relative;
    // height: 2.75rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

    &__bar {

        &-input {
            min-width: 18rem;
            max-width: 22.5rem;
            height: 2.5rem;
            border-radius: 2rem;
            outline: none;
            box-shadow: none;
            border: none;
            border: 1px solid #F87F72;
            padding-left: 1rem;
            font-family: 'Montserrat', sans-serif;
        }
    }
}
