<div class="container">
    <div class="card">
        <div class="card__content">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="input">
                    <input 
                        type="number" 
                        name="index"
                        required
                        ngModel
                        class="input__content"
                        placeholder="Enter tab index">
                    <button 
                        type="submit" 
                        class="input__button" 
                        onclick="this.blur();">Change tab</button>
                </div>
            </form>
            <div class="tabs">
                <button 
                    *ngFor="let tab of tabsArr; let i = index"
                    (click)="onTabSelect(i)"
                    [ngClass]="tab.active ? 'tabs__tab-active': 'inactive'"
                    class="tabs__tab" 
                    onclick="this.blur();">{{ tab.name }}</button>
            </div>
            <div
                *ngFor="let tab of tabsArr"
                class="tabs__text">
                    <span *ngIf="tab.active">{{ tab.text }}</span>
                </div>
        </div>
    </div>
</div>