<div 
    #container
    class="container">
    <div class="card">
        <img
            #image
            class="zoom-image" 
            [src]="imgSrc" alt="">
        <div 
            #zoomView
            [class.is-zoom]="isZoom"
            class="zoom-view"></div>
        
    </div>
    <div
            #zoomLens
            [style.left.px]="cursorLeftDistance"
            [style.top.px]="cursorTopDistance"
            [class.is-zoom]="isZoom"
            class="zoom-lens"></div>
</div>