<div 
    #container
    class="container">
    <div class="card">
        <img
            #image
            class="zoom-image" 
            [src]="imgSrc" alt="">
        <div 
            #zoomView
            [class.is-zoom]="isZoom"
            [style.backgroundSize]="imageWidthRatioSize"
            [style.backgroundImage]="'url(assets/images/image-zoom-use/image-zoom.jpg)'"
            [style.backgroundPosition]="zoomViewInfo"
            class="zoom-view"></div> 
        <div
            #zoomLens
            
            [style.left.px]="cursorLeftDistance"
            [style.top.px]="cursorTopDistance"
            [class.is-zoom]="isZoom"
            [class.is-zoom-lens]="isZoom"
            class="zoom-lens"></div> 
    </div>
    
   
</div>