<div class="container">
    <div class="card">
        <form 
            class="form"
            [formGroup]="validationForm"
            (ngSubmit)="onSubmit()"
            >
            <div class="form__item">
                <label 
                    class="form__label"
                    for="name">Name</label>
                    <input 
                        class="form__input"
                        formControlName="name"
                        type="text"
                        >
                <div
                    *ngIf="blankName()"
                    class="form__required">Field is required</div
                    > 
            </div>
            <div class="form__item">
                <label 
                    class="form__label"
                    for="email">Email</label>
                    <input 
                        class="form__input"
                        formControlName="email"
                        type="text"
                        minlength="1"
                        >
                <div
                *ngIf="isInvalidEmail()"
                class="form__required">Enter valid email</div
                > 
            </div>
            <div class="form__item">
                <label 
                    class="form__label"
                    for="password">Password</label>
                    <input 
                        class="form__input"
                        formControlName="password"
                        type="text">
                    <div
                        *ngIf="blankPassword()" 
                        class="form__required">Field is required</div
                        >
            </div>
            <div class="form__item">
                <label 
                    class="form__label"
                    for="confirmPassword">Confirm Password</label>
                    <input 
                        class="form__input"
                        formControlName="confirmPassword"
                        type="password">
                    <div
                        *ngIf="passwordMissmatch()" 
                        class="form__required">Confirmation failed</div
                        >
            </div>
            <button class="button">Submit</button>
        </form>
    </div>
</div>
