.container {
    max-height: 100%;
    min-height: calc(100% - 4rem);
    width: 100%;
    background-color: rgba(136, 84, 208, 1);
    font-family: 'Roboto', sans-serif;
    padding-top: 4rem;
}

.card {
    width: 18.5rem;
    margin: 6rem auto 0;
    border-radius: .15rem;
    background-color: white;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .5);
    transition: all .3s;
    padding: 1rem;
}

.form {
    font-size: .6rem;
    
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: .85rem;
    }

    &__input {
        font-size: .6rem;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(222, 222, 222);
        line-height: 1.6rem;
        
        transition: all .3s;

        &:focus {
            border-bottom: 1px solid rgb(55, 55, 55);
        }
    }

    &__required {
        color: red;
        margin-top: .25rem;
    }
}

.button {
    outline: none;
    border: none;
    background-color: rgb(232, 232, 232);
    font-size: .6rem;
    padding: .5rem;
    border-radius: .1rem;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: rgb(222, 222, 222);
    }
}

@media screen and (max-height: 500px) {
    .container {
        min-height: 100%;
        max-height: none;
    }
}