<div class="container">
    <div class="card">
        <div class="card__content">
            <form 
                class="form"
                [formGroup]="validationForm"
                (ngSubmit)="onSubmit(validationForm.value)">
                <div class="form__item">
                    <label 
                        class="form__label"
                        for="name">Name</label>
                        <input 
                            class="form__input"
                            formControlName="name"
                            type="text">
                    
                </div>
                <div class="form__item">
                    <label 
                        class="form__label"
                        for="email">Email</label>
                        <input 
                            class="form__input"
                            formControlName="email"
                            type="text">
                    
                </div>
                <div class="form__item">
                    <label 
                        class="form__label"
                        for="password">Password</label>
                        <input 
                            class="form__input"
                            formControlName="password"
                            type="text">
                    
                </div>
                <div class="form__item">
                    <label 
                        class="form__label"
                        for="confirmPassword">Confirm Password</label>
                        <input 
                            class="form__input"
                            formControlName="confirmPassword"
                            type="text">
                    
                </div>
                <button class="button">Submit</button>
            </form>
        </div>
    </div>
</div>
