<div #container class="container">
    <div class="card">Press Shift + Tab to choose color.</div>
    <div
        #popup
        tabindex="-1"
        [class.popup-active]="isPopupVisible"
        class="popup">
        <div class="popup__content">
            <div
                *ngFor="let box of colorsArr; let i = index"
                [class.highlighted]="box.isCurrentlyHighlighted"
                class="popup__color-border">
                <div 
                    class="popup__color"
                    [style.background-color]="box.backgroundColor"
                    ></div>    
            </div>
        </div>
    </div>
</div>