<div class="container">
    <div class="card">Press Shift + Tab to choose color.</div>
    <div class="popup">
        <div class="popup__content">
    
            <div class="popup__color-border">
                <div class="popup__color"></div>    
            </div>
            <div class="popup__color-border">
                <div class="popup__color popup__color-blue"></div>    
            </div>
            <div class="popup__color-border">
                <div class="popup__color popup__color-blue"></div>    
            </div>
            <div class="popup__color-border">
                <div class="popup__color popup__color-blue"></div>    
            </div>
            <div class="popup__color-border">
                <div class="popup__color popup__color-blue"></div>    
            </div>
            
        </div>
    </div>
</div>