<div class="container">
    <div 
        [class.active__overlay]="overlayActive"
        class="overlay"></div>
    <div class="card">
        <button
            (click)="onboarding(0)"
            [class.active]="onboardingActiveArr[0]"
            class="button"
        >
            Start onboarding
        </button>
        <div
            *ngFor="let shape of shapes"
            (click)="onboarding(shape.index)"
            [class.active]="onboardingActiveArr[shape.index]"
            class="{{ shape.class }}"
        ></div>
    </div>
</div>
