<div class="container">
    <div class="card">
        <div class="card__content">
            <div class="menu">
                <div class="menu__option">
                    <span class="menu__option-num-circle">
                        <span class="menu__option-num">1</span>
                    </span>
                    <span class="menu__option-text">Choose title</span>
                </div>
            </div>
            
            
            
            
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                
            </form>
        </div>
    </div>
</div>
