.container {
    min-height: 100%;
    width: 100%;
    background-color: rgba(142, 68, 173, 1);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 22.5rem;
    height: 5rem;
    border-radius: .15rem;
    background-color: white;
    margin-top: 8rem;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .5);
    overflow: hidden;
    margin-bottom: 2rem;
    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        margin: .75rem 1rem;
        font-size: .6rem;
        box-sizing: border-box;
    }
}

.menu {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;

    &__option {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: rgb(128, 128, 128);

        &:hover {
            color: black;
            .menu__option-num-circle {
                background-color: rgb(240, 240, 240);;
            }
        }
        &-active {
            &:hover {
                
                .menu__option-num-circle {
                    background-color: rgb(44, 128, 185);
                }
            }
        }
        &-num {
            font-size: .5rem;
            font-weight: 700;
            &-circle {
                height: .85rem;
                width: .85rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: .5rem;

                &-active {
                    color: white;
                    background-color: rgb(44, 128, 185);
                }
            }
        }
        &-text {

            &-active {
                color: black;
            }
        }
       
    }
   
}

.form {
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11rem;
}

.button {
    font-size: .6rem;
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);
    padding: .5rem;
    cursor: pointer;
    margin-right: .25rem;
    transition: all .3s;
    &:hover {
        background-color: rgb(225, 225, 225);
    }

}