.container {
    min-height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


.card { 
    background-color: rgb(253, 202, 8);
    height: 3rem;
    width: 16rem;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    &__border {
        margin-top: 8rem;
        background-color: rgb(50, 100, 172);
        height: 3.75rem;
        width: 16.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

       
    }

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        width: 14.5rem;
        font-size: .6rem;
        padding-bottom: .5rem;
        margin-top: .25rem;
        transition: all .3s;

        &:focus {
            border-bottom: 1px solid rgba(0, 0, 0, 1);
        }
    }
}

.ball {
    position: absolute;
    overflow: hidden;
    left: 14.75rem;
    bottom: 1.75rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__inside {
        position: absolute;
        z-index: 1;
        height: .6rem;
        width: .6rem;
        border-radius: 50%;
        background-color: white;
        border: 2px solid black;
    }

    &__red {
        position: relative;
        left: 2.4rem;
        transform: rotate(-60deg);
        background-color: red;
        border: 2px solid black;
        height: 10rem;
        width: 10rem;
    }
}

.results {
    position: absolute;
    background-color: white;
    width: 14.65rem;
    border-radius: .15rem;
    box-shadow: 0 .5px 2px .5px rgba(0, 0, 0, .3);
    top: 2.75rem;
    padding: .25rem;
    box-sizing: border-box;
    z-index: 2;
    max-height: 9.25rem;
    overflow: auto;

    &__name {
        font-size: .65rem;
        padding: .25rem;
        border-radius: .15rem;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
}

.pokemon {
    position: absolute;
    top: 5rem;
    font-size: 1.5rem;

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    &__text {

    }

    &__img {
        align-self: center;
        height: 10rem;
        width: auto;
    }
}