<div class="container">
    <div class="card__border">
        <div class="card">
            <input 
                [(ngModel)]="searchText"
                (ngModelChange)="this.searchTextUpdate.next($event)"
                type="text"
                id="searchText" 
                class="card__input"
                placeholder="Gotta Catch 'Em All!"
                >
            <div class="ball">
                <div class="ball__inside"></div>
                <div class="ball__red"></div>
            </div>
            <div
                *ngIf=false 
                class="results">
                <div 
                    *ngFor="let name of pokemon"
                    class="results__name">{{ name }}</div>
            </div>
        </div>
    </div>


    
</div>
