<div class="container">
    <div class="card__border">
        <div class="card">
            <input 
                [(ngModel)]="searchText"
                (ngModelChange)="this.searchTextUpdate.next($event)"
                type="text"
                id="searchText" 
                class="card__input"
                placeholder="Gotta Catch 'Em All!"
                >
            <div class="ball">
                <div class="ball__inside"></div>
                <div class="ball__red"></div>
            </div>
            <div
                *ngIf=isMatches 
                class="results">
                <div 
                    (click)="pokemonSelected(pokemon)"
                    *ngFor="let pokemon of pokeMatchesArr"
                    class="results__name">{{ pokemon.name | titlecase }}</div>
            </div>
             <div
                *ngIf="isPokemonSelected" 
                class="pokemon">
                <div class="pokemon__container">
                    <div class="pokemon__text">You chose {{ selectedPokemonDetails.name | titlecase }}!</div>
                    <img 
                        src="{{ selectedPokemonDetails.sprites.front_default }}"
                        class="pokemon__img">
                </div>
            </div>
        </div>
       
    </div>
   

    
</div>
