<div class="container">
    <div 
        class="menu"
        [class.menu__active]="isOverlayActive">
        <div 
            class="menu__text">{{ sideMenuText }}</div>
        <button 
            (click)="onRemoveOverlay()" 
            class="button">{{ sideMenuButton }}</button>
    </div>
    <div 
        class="overlay"
        (click)="onRemoveOverlay()"
        [class.overlay__active]="isOverlayActive">
    </div>
    
    <div class="card">
        <button 
            (click)="onActivateOverlay(search)" 
            class="button">{{ search }}</button>
        <button 
            (click)="onActivateOverlay(run)" 
            class="button">{{ run }}</button>
    </div>
    
</div>