<div class="container">
    <div class="card">
        <div class="accordion" *ngFor="let section of accordionArr; let i = index">
            <div
                (click)="openSection(section, i)"
                [class.accordion__open]="section.active"
                class="accordion__section">
                <h3 class="accordion__section-header">{{ section.header }}</h3>
                <div class="accordion__section-desc">{{ section.description }}</div>
            </div>
            <div class="br"></div>
        </div>
    </div>
</div>