.container {
    max-height: 100%;
    min-height: calc(100% - 4rem);
    width: 100%;
    background-color: rgb(249, 192, 72);
    font-family: 'Roboto', sans-serif;
    padding-top: 4rem;
    position: relative;
}

.card {
    width: 20rem;
    margin: 6rem auto 0;
    border-radius: .15rem;
    background-color: white;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .5); 
}

.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__section {
        background-color: white;
        max-height: 2rem;
        min-height: 2rem;
        overflow: hidden;
        width: 20rem;
        border-radius: .15rem;
        transition: all .3s;
        &-header {
            
            font-size: .6rem;
            height: 2rem;
            box-sizing: border-box;
            margin: 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 .75rem;
        }

        &-desc {
            font-size: .6rem;
            padding: 0  0 .75rem .75rem;
        }
    }
    
    &__open {
        min-height: 2rem;
        max-height: 5rem;
        box-shadow: 0 2px 2px 0px rgba(100, 100, 100, .5); 
        padding: .5rem;
        z-index: 1;
    }
}

.br {
    height: .5px;
    width: 20rem;
    background-color: rgb(222, 222, 222);
}

