.container {
    min-height: 100%;
    width: 100%;
    background-color: rgba(225, 112, 85, 1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.card {
    width: 18.5rem;
    height: 12rem;
    margin-top: 8rem;
    border-radius: .15rem;
    background-color: white;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .3s;
    
    &__content {
        margin: .75rem;
        font-size: .6rem;
    }
}

.select {
    margin-bottom: .75rem;
    &__options {
        
        &-li {
            margin: .5rem .5rem;
            padding: .25rem 0;
            cursor: pointer;
            transition: all .3s;
            position: relative;
            &:hover {
                background-color: rgb(230, 230, 230);
            }
            &-all{
                margin-top: 1rem;
                font-weight: 600;
            }
        }
    }
}


.br {
    width: 100%;
    height: .5px;
    background-color: lightgrey;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: -1;
}

.checked {
    background-color: rgb(222, 222, 222);
}