<div class="container">
    <div class="card">
        <div class="card__content">
            <div class="select">{{ orderText }}</div>
            <div class="br"></div>
            <div 
                *ngFor="let option of optionsArr; let i = index"
                class="select__options">
                <div 
                    
                    (click)="onSelect(option)"
                    [class.select__options-li-all]=isFirst(i)
                    [class.checked]=option.isSelected
                    class="select__options-li"
                    >{{ option.name }}
                    <label class="label" for="{{option.id}}" class="input">
                        <input 
                            #choice 
                            class="input" type="checkbox" id="{{option.id}}" name="{{option.id}}">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>