<div class="container">
    <div class="card">
        <form class="form">
            <div class="form__input-section">
                <input 
                    placeholder="Enter task name"
                    class="form__input" 
                    type="text">
                <button class="form__button">Add task</button>
            </div>
            <div class="form__bottom">
                <button class="form__button">Reset tasks</button>
            </div>
        </form>
        <div class="list" role="list">

        </div>
    </div>
</div>
