.container {
    height: calc(100% - 6rem);
    width: 100%;
    background: rgb(116, 185, 255);
    display: flex;
    justify-content: center;

    &__content {
        max-width: 65rem;
        margin-top: 5rem;
        height: 5rem;
        width: 28rem;
        border-radius: .25rem;
        background: white;
        display: flex;
        align-items: center;
    }
    &__buttons {
        margin: 0 1rem;
    }
}