.header {
    margin: auto;
    max-width: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(75, 89, 105);
    min-height: 3.5rem;
    padding: .5rem 0;
    
}

@media screen and (max-width: 580px) {
    .header {
        margin-left: 1rem;
        // height: 4.5rem;
    }
}