:host {
    height: 100%;
    width: 100%;
}
.header {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(75, 89, 105);
    min-height: 3.5rem;
    height: 4rem;
    padding: .5rem 0;
    position: fixed;
    background-color: white;
    z-index: 1;
    box-shadow: 0 1px 4px 1px rgba(75, 88, 104, .2);
    
    &__content {
        padding: 0 1rem;
    }
}
