.directory {
    max-width: 65rem;
    margin: auto;
    &__container {
        
        margin-left: .1rem;
        margin-right: .1rem;

    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 7rem;
    }
}

.directory__item-container {
    padding: 2rem 1rem 0rem 1rem;
}

.challenge-display {
    transition: opacity .5s, transform .5s;
    margin-top: 0rem;
    transform: translateY(0rem);
}



.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0rem;
    margin-top: 0;
    padding: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
    transform: translateY(6rem);
}

.is-init {
    opacity: 0;
    height: 12rem;
}

@media screen and (max-width: 613px) {
    .directory {
        width: 19rem;
        margin: auto;
    }
    .directory__items {
        padding-bottom: 9rem;
    }
}
