<div class="directory">
    <div class="directory__container">
        <div class="directory__items">
            <app-directory-item [routerLink]="['challenges']"></app-directory-item>
            <app-directory-item [routerLink]="['challenges']"></app-directory-item>
            <app-directory-item [routerLink]="['challenges']"></app-directory-item>
            <app-directory-item [routerLink]="['challenges']"></app-directory-item>          
        </div>
    </div>
    <app-directory-top></app-directory-top>
</div>