.container {
    min-height: 100%;
    width: 100%;
    background-color: rgba(251, 94, 87, 1);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin-top: 8rem;
    min-height: 4rem;
    max-width: 18rem;
    min-width: 18rem;
    position: relative;
}

.text {
    &_backdrop {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: .28rem 0rem 0rem .28rem;
        line-height: 1rem;
        width: 17.69rem;
        height: 100%;
        white-space: pre-wrap;
        z-index: 3;
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            width: .25rem;
            outline: none;
            color: transparent;
            background-color: transparent;
          }
    }
    &_highlights {
        z-index: 1;
        letter-spacing: 1px;
        color: transparent;
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
    }

    &_span {
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
    }
}

.input {
    box-sizing: border-box;
    line-height: 1rem;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: solid 1px rgb(222, 222, 222);
    position: relative;
    outline: none;
    overflow-y: scroll;
    margin-bottom: -.25rem;
    min-height: 8rem;
    max-width: 18rem;
    min-width: 18rem;
    width: 100%;
    padding: .26rem .26rem 0rem .26rem;
    border-radius: .15rem;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    transition: all .3s;
    color: black;
    z-index: 5;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: transparent;
    &_background {
        position: relative;
        box-sizing: border-box;
        background-color: white;
        width: 18rem;
        border-radius: .15rem;
    }
    &::-webkit-scrollbar {
        width: .25rem;
        outline: none;
        border-radius: .15rem;
        transition: all .3s;
        cursor: pointer;
      }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 .25rem rgba(0, 0, 0, 0.5);
        border-radius: .15rem;
        height: 100%;
      }
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 .25rem rgba(0, 0, 0, 0.5);
        background-color: lightgrey;
        outline: 1px solid slategrey;
        border-radius: .15rem;
        transition: all .3s;
        &:hover {
            background-color: darkgrey;
        }
    }
}

:host ::ng-deep .highlight {
    background-color: rgba(87, 224, 251, .75);
    border-radius: .15rem;
}
