<div class="container">
    <div class="card">
       
            <div class="input_background">
                <textarea 
                    name="input"
                    class="input" 
                    id="input"
                    #input
                    [(ngModel)]="userInput"
                    (scroll)="scrollEvent($event)"
                    (onkeyup)="isReturn($event)"
                    cols="30" 
                    rows="1"></textarea>
           
                <div
                    #backgroundScroll
                    class="text_backdrop">   
                    <div
                        [innerHTML]="highlightText()" 
                        class="text_highlights">
                    </div>
                </div>
            </div>
    </div>
</div>