.container {
    min-height: 100%;
    width: 100%;
    background-color: rgba(251, 94, 87, 1);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin-top: 8rem;
    min-height: 4rem;
    max-width: 18rem;
    min-width: 18rem;
    position: relative;
}

.text {
    &_backdrop {
        position: absolute;
        top: 0;
        width: 18.335rem;
        z-index: 1;
    }
    &_highlights {
        letter-spacing: 1px;
        color: rgba(22, 126, 202, .2);
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
        top: .28rem;
        left: .28rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        // max-width: 286px;
        // max-width: 18rem;
        max-height: 8rem;
        overflow-y: scroll;
        word-break: break-all;
        &::-webkit-scrollbar {
            width: .25rem;
            outline: none;
            color: transparent;
            background-color: transparent;
          }
    }

    &_span {
        font-family: 'Roboto', sans-serif;
        font-size: .75rem;
    }
}

.input {
    letter-spacing: 1px;
    border: solid 1px rgb(222, 222, 222);
    position: relative;
    outline: none;
    overflow-y: scroll;
    height: 8rem;
    min-height: 4rem;
    max-width: 18rem;
    min-width: 18rem;
    padding: .25rem;
    border-radius: .15rem;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    transition: all .3s;
    color: rgba(251, 94, 87, .2);
    z-index: 5;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: transparent;
    &_background {
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 18.65rem;
        height: 8.6rem;
        border-radius: .15rem;
    }
    &::-webkit-scrollbar {
        width: .25rem;
        outline: none;
        border-radius: .15rem;
        transition: all .3s;
        cursor: pointer;
      }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 .25rem rgba(0, 0, 0, 0.5);
        border-radius: .15rem;
        height: 100%;
      }
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 .25rem rgba(0, 0, 0, 0.5);
        background-color: lightgrey;
        outline: 1px solid slategrey;
        border-radius: .15rem;
        transition: all .3s;
        &:hover {
            background-color: darkgrey;
        }
    }
}

:host ::ng-deep .highlight {
    background-color: blue;
    color: black;
}

.test {
    white-space: pre-wrap;
}