<!-- <a class="item">
    <div class="item__background-img">
        <div class="item__background">
            <div class="item__content">
                <div class="item__content-desc">description goes here</div>
            </div>
        </div>
    </div>
</a> -->
<a class="item">
        <img class="item__background-img" [src]="challengeItem.imagePath" alt="project-img">
        <div class="item__background">
            <div class="item__content">
                <div class="item__content-desc">{{ challengeItem.name}}</div>
            </div>
        </div>
    </a>