:host {
    display: block;
    margin: 3rem 0 0 0;
}

.item {
    

    &__content {
        background-color: rgba(132, 154, 171, .5);
        margin-left: 1.05rem;
        margin-right: 1.05rem;
        height: 11.05rem;
        width: 15.05rem;

        &-desc {
            background-color: rgba(132, 154, 171, .75);
        }
    }
}