:host {
    display: block;
    margin: 2rem 0 0 0;
    
}

.item {
    cursor: pointer;
    background-color: transparent;
    &-container {
        height: 12.05rem;
        width: 16.75rem;
        box-shadow: 0 1px 6px 0 rgba(75, 88, 104, .5);
        border-radius: 1px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        transition: all .3s;
    }
    &:hover {
        .item {
            &-container {
                box-shadow: 0 2px 4px 2px rgba(75, 88, 104, .8);
            }
            &__background {
                background-color: rgba(121, 143, 160, .15);
                
            }
            &__content {
                background-color: rgba(121, 143, 160, .88);
                color: white;
            }
        }

    }

    &:focus {
        .item {
            &__background {
                background-color: rgba(121, 143, 160, .15);
                box-shadow: 0 2px 5px 2px rgba(75, 88, 104, .75);
            }
            &__content {
                background-color: rgba(121, 143, 160, .88);
                color: white;
            }
        }
    }

    &__background {
        // background-color: rgba(121, 143, 160, .55);
        background-color: transparent;
        height: 12.05rem;
        width: 16.75rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: all .5s;
        box-sizing: border-box;
        border-radius: 1px;
        // border: 1px solid rgba(248, 127, 114, 1);
        position: relative;
        

        &-img {
            height: 12.05rem;
            width: 16.75rem;
            height: 100%;
            width: 100%;
            border-radius: 2px;
            // height: 20rem;
            transition: all .5s;
            box-sizing: border-box;
            position: absolute;
            object-fit: cover;
            object-position: left;
            background-color: transparent;
        }
    }

    &__content {
        background-color: rgba(251, 249, 255, .95);
        // border: 1px solid rgb(248, 127, 114);
        // margin: 0 -1px -1px -1px;
        height: 40%;
        transition: all .3s;
        color: rgb(75, 88, 104);
        font-weight: 600;
        transition: all .5s;
        box-sizing: border-box;
        width: 100%;
        &-desc {
            margin: 1rem; 
        }
    }
}