:host {
    display: block;
    margin: 2rem 0 0 0;
}

.item {
    

    &__background {
        background-color: rgb(121, 143, 160);
        height: 12.05rem;
        width: 16.75rem;
        border: 1px solid rgb(248, 127, 114);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__content {
        // background-color: rgba(132, 154, 171, .75);
        background-color: rgb(251, 249, 255);
        border: 1px solid rgb(248, 127, 114);
        height: 40%;

        &-desc {
            color: rgb(75, 88, 104);
            margin-left: 1rem;
        }
    }
}