<div class="container">
    <div class="card">
        <div class="card__content">
            <div 
                (click)="onSwitch()"
                class="switch">
                <div class="switch__background">
                    <div class="switch__slider switch__slider-first"></div>
                </div>
            </div>
            <div class="switch">
                <div class="switch__background switch__slider-first">
                    <div class="switch__slider"></div>
                </div>
            </div>
            <div class="switch">
                <div class="switch__background">
                    <div class="switch__slider"></div>
                </div>
            </div>
            <div class="switch">
                <div class="switch__background">
                    <div class="switch__slider"></div>
                </div>
            </div>
            <div class="switch">
                <div class="switch__background">
                    <div class="switch__slider"></div>
                </div>
            </div>
        </div>
    </div>
</div>