.container {
    height: calc(100% - 4.5rem);
    width: 100%;
    background-color: rgba(247, 215, 148, 1);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.content {
    margin-top: 3rem;
    width: 65rem;
}

.text {
    font-size: 1.75rem;
    margin-left: 1rem;
}

.caret {
    height: 2rem;
    width: 1.5px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: .4rem;
    margin-left: .25rem;
    animation-name: flashing;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes flashing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
